.header {
  padding-top: var(--mantine-spacing-sm);
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-6), transparent);
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#logo {
    margin: 0;
    padding: 0;
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}
